@model IEnumerable<Edicas.Models.sp_C_Proveedores_Result>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RUC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.provNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.provDireccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.provTelefono)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RUC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.provNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.provDireccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.provTelefono)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { ruc = item.RUC }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { ruc = item.RUC })
        </td>
    </tr>
}

</table>
