<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Edicas</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
     <div class="jumbotron jumbotron-fluid" style="background:black;color:white;height:140px; font-family: cursive;padding:20px">
         <div class="container">
             <h1>Edicas</h1>
             <p class="lead">Delivery a cualquier parte de Huancayo.</p>
         </div>   
     </div>

    <div class="container">
        @RenderBody()
        <hr class="my-5"/>
    </div>
 
    <footer style="background:black;color:white">
        <div class="container">
            <p>&copy; @DateTime.Now.Year - Edicas</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
