@model System.Data.DataTable
@{

    ViewBag.Title = "Index";
}

<h3>Lista de productos</h3>

@using (Html.BeginForm("Index","Producto",FormMethod.Post))
{
    <div class="container" style="padding-bottom:25px">
        <h4>Buscar por nombre:</h4>
        <div class="row">
            <div class="col-auto">
                @Html.TextBox("Nombre", null, new { @class = "form-control" })
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("BuscarxCategoria", "Producto"))
{
    <div class="container" style="padding-bottom:25px">
        <h4>Buscar por categoria:</h4>
        <div class="row">
            <div class="col-auto">
                @Html.DropDownList("IDCategoria", null, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </div> 
    </div> 
}


@if (Model.Rows.Count != 0)
{
    <div class="container" style="padding-bottom:35px">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Proveedor</th>
                    <th>Categoria</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Rows.Count; i++)
                {
                    <tr>
                        <td>@Model.Rows[i][1]</td>
                        <td>@Model.Rows[i][2]</td>
                        <td>@Model.Rows[i][3]</td>
                        <td>@Model.Rows[i][4]</td>
                        <td>@Model.Rows[i][5]</td>
                        <td><img src="@Url.Content(Model.Rows[i][6].ToString())" alt="Alternate Text" width="150" height="150" /></td>
                        <td>
                            <a href="@Url.Action("Edit", "Producto", new { @id = Model.Rows[i][0] })">Editar</a>
                            <a href="@Url.Action("Delete", "Producto", new { @id = Model.Rows[i][0] })">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        No encontramos ningún producto.
    </div>
}


@Html.ActionLink("Crear nuevo", "Create", "Producto", new { @class = "btn btn-danger" })


