@model Edicas.Models.Producto

@{
    ViewBag.Title = "Create";
}

<div style="padding-bottom:40px">
    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger" })
</div>

<h2>Registrar nuevo producto</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr/>
        <div class="form-group">
            <label class="col-md-2">Nombre:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.proNombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.proNombre,"", new { @class = "text-danger" } )
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-md-2">Precio:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.proPrecioVenta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.proPrecioVenta,"",new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2">Cantidad:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.proCantidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.proCantidad, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-2">Proveedor:</label>
            <div class="col-md-10">
                @Html.DropDownList("IDProveedor", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDProveedor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2">Categoría:</label>
            <div class="col-md-10">
                @Html.DropDownList("IDCategoria", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDCategoria, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrar" class="btn btn-info"/>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
