@model Edicas.Models.Producto

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Estas seguro que quieres eliminar?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.proNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proPrecioVenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proPrecioVenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proCantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proCantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria.catNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.catNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedor.provNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedor.provNombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
